include includes/layout
body.jumbotron
    div(class="card" style="width: 20rem;")
        img.card-img-top(src= img alt= name)
        div.card-body
            h5.card-title Price
            p.card-text #{price} $
            a(href="" class="btn btn-primary") Buy